<div class="row4">
    <div class="kfc">
        <h1 class="kfchead">KFC</h1>
    </div>
    <div class="burgervarieties1">
        <img src="../assets/k1.jpg" class="b1img"/>
        <a href="#" class="a"><p class="burgername">Fried Chicken</p></a>
        <h2 class="price"><i class="fa fa-inr"></i> 249.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">279.00</span> </del> </h2>
        <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
    </div>
    <div class="burgervarieties2">
        <img src="../assets/k2.jpg" class="b1img"/>
        <a href="#" class="a"><p class="burgername">Bucket Chicken</p></a>
        <h2 class="price"><i class="fa fa-inr"></i> 399.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">449.00</span> </del> </h2>
        <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
    </div>
    <div class="burgervarieties3">
        <img src="../assets/k3.png" class="b1img"/>
        <a href="#" class="a"><p class="burgername">KFC Family Pack</p></a>
        <h2 class="price"><i class="fa fa-inr"></i> 599.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">699.00</span> </del> </h2>
        <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
    </div>
</div>
