<div class="row3">
    <div class="pizza">
        <h1 class="pizzahead">PIZZA</h1>
    </div>
    <div class="burgervarieties1">
        <img src="../assets/p1.jpg" class="b1img"/>
        <a href="#" class="a"><p class="burgername">Mexican Green Wave</p></a>
        <h2 class="price"><i class="fa fa-inr"></i> 179.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">189.00</span> </del> </h2>
        <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
    </div>
    <div class="burgervarieties2">
        <img src="../assets/p2.jpg" class="b1img"/>
        <a href="#" class="a"><p class="burgername">Peppy Paneer</p></a>
        <h2 class="price"><i class="fa fa-inr"></i> 199.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">219.00</span> </del> </h2>
        <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
    </div>
    <div class="burgervarieties3">
        <img src="../assets/p3.jpg" class="b1img"/>
        <a href="#" class="a"><p class="burgername">Mutton Pizza</p></a>
        <h2 class="price"><i class="fa fa-inr"></i> 259.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">299.00</span> </del> </h2>
        <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
    </div>
</div>
