<div class="container2">
    <div class="row2">
        <div class="burger">
            <h1 class="burgerhead">BURGER</h1>
        </div>
        <div class="burgervarieties1">
            <img src="../assets/b1.jpg" class="b1img"/>
            <a href="#" class="a"><p class="burgername">Potato Corn Burger</p></a>
            <h2 class="price"><i class="fa fa-inr"></i> 89.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">99.00</span> </del> </h2>
            <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
        </div>
        <div class="burgervarieties2">
            <img src="../assets/b2.jpeg" class="b1img"/>
            <a href="#" class="a"><p class="burgername">Chicken Twin Burgers</p></a>
            <h2 class="price"><i class="fa fa-inr"></i> 119.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">149.00</span> </del> </h2>
            <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
        </div>
        <div class="burgervarieties3">
            <img src="../assets/b3.jpg" class="b1img"/>
            <a href="#" class="a"><p class="burgername">Pizza Burger</p></a>
            <h2 class="price"><i class="fa fa-inr"></i> 159.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">199.00</span> </del> </h2>
            <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
        </div>
    </div>

 
    <div class="row3">
        <div class="pizza">
            <h1 class="pizzahead">PIZZA</h1>
        </div>
        <div class="burgervarieties1">
            <img src="../assets/p1.jpg" class="b1img"/>
            <a href="#" class="a"><p class="burgername">Mexican Green Wave</p></a>
            <h2 class="price"><i class="fa fa-inr"></i> 179.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">189.00</span> </del> </h2>
            <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
        </div>
        <div class="burgervarieties2">
            <img src="../assets/p2.jpg" class="b1img"/>
            <a href="#" class="a"><p class="burgername">Peppy Paneer</p></a>
            <h2 class="price"><i class="fa fa-inr"></i> 199.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">219.00</span> </del> </h2>
            <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
        </div>
        <div class="burgervarieties3">
            <img src="../assets/p3.jpg" class="b1img"/>
            <a href="#" class="a"><p class="burgername">Mutton Pizza</p></a>
            <h2 class="price"><i class="fa fa-inr"></i> 259.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">299.00</span> </del> </h2>
            <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
        </div>
    </div>


        <div class="row4">
            <div class="kfc">
                <h1 class="kfchead">KFC</h1>
            </div>
            <div class="burgervarieties1">
                <img src="../assets/k1.jpg" class="b1img"/>
                <a href="#" class="a"><p class="burgername">Fried Chicken</p></a>
                <h2 class="price"><i class="fa fa-inr"></i> 249.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">279.00</span> </del> </h2>
                <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
            </div>
            <div class="burgervarieties2">
                <img src="../assets/k2.jpg" class="b1img"/>
                <a href="#" class="a"><p class="burgername">Bucket Chicken</p></a>
                <h2 class="price"><i class="fa fa-inr"></i> 399.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">449.00</span> </del> </h2>
                <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
            </div>
            <div class="burgervarieties3">
                <img src="../assets/k3.png" class="b1img"/>
                <a href="#" class="a"><p class="burgername">KFC Family Pack</p></a>
                <h2 class="price"><i class="fa fa-inr"></i> 599.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">699.00</span> </del> </h2>
                <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
            </div>
        </div>


    
</div>
