

<div class="container">
    <div class="row1"> 
        <div class="col1">
            <h1 class="text-location">CHENNAI</h1>
            <p class="para-location"><b>Address:</b><br> 165, East Coast Road, Injambakkam, Chinnadi Kuppam, Vettuvankeni, Chennai, Tamil Nadu 600115</p>
            <h4 class="text-location">Feel Free 2 Call:</h4>
            <p class="para-location"><b>+91 </b>9876543210</p>
        </div>
        <div class="col2">
            <h1 class="text-location">BANGALORE</h1>
            <p class="para-location"><b>Address:</b><br> No.2, Nazaara,Terrace Level, Courtyard by Marriott Bengaluru Hebbal, Karnataka 560045</p>
            <h4 class="text-location">Feel Free 2 Call:</h4>
            <p class="para-location"><b>+91 </b>9876543211</p>
        </div>
        <div class="col3">
            <h1 class="text-location">ALAPPUZHA</h1>
            <p class="para-location"><b>Address:</b><br>Naz Complex, 1st floor, Mullackal Rd, Erezha, Mullakkal, Alappuzha,<br> Kerala 680011</p>
            <h4 class="text-location">Feel Free 2 Call:</h4>
            <p class="para-location"><b>+91 </b>9876543212</p>
        </div>

       
    </div>   
    <div class="row2">
        <div class="mapouter1">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=chennai%20food%20shop&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.whatismyip-address.com"></a><br>
                <style>.mapouter{position:absolute;text-align:center;height:300px;width:30%;float:left;    margin-right:3%;
                    margin-left:1%;}</style><a href="https://www.embedgooglemap.net">how to put google maps on website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:100%;    margin-right:3%;
    margin-left:1%;}</style>
            </div>
        </div>
        <div class="mapouter2">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=chennai%20food%20shop&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.whatismyip-address.com"></a><br>
                <style>.mapouter{position:absolute;text-align:center;height:300px;width:30%;margin-right:4%;
                    margin-left:1%;}</style><a href="https://www.embedgooglemap.net">how to put google maps on website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:100%;float:left;     margin-right:4%;
    margin-left:1%;}</style>
            </div>
        </div>
        <div class="mapouter3">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=chennai%20food%20shop&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.whatismyip-address.com"></a><br>
                <style>.mapouter{position:absolute;text-align:center;height:300px;width:30%;float:left; margin-right:1%;
                    margin-left:1%;}</style><a href="https://www.embedgooglemap.net">how to put google maps on website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:30%;float:left;    margin-right:1%;
                    margin-left:1%;}</style>
            </div>
        </div>
        
    </div>
    <h1 class="end">Thanks for Visiting, Come Again</h1>
</div>


