<div class="row2">
    <div class="burger">
        <h1 class="burgerhead">BURGER</h1>
    </div>
    <div class="burgervarieties1">
        <img src="../assets/b1.jpg" class="b1img"/>
        <a href="#" class="a"><p class="burgername">Potato Corn Burger</p></a>
        <h2 class="price"><i class="fa fa-inr"></i> 89.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">99.00</span> </del> </h2>
        <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
    </div>
    <div class="burgervarieties2">
        <img src="../assets/b2.jpeg" class="b1img"/>
        <a href="#" class="a"><p class="burgername">Chicken Twin Burgers</p></a>
        <h2 class="price"><i class="fa fa-inr"></i> 119.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">149.00</span> </del> </h2>
        <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
    </div>
    <div class="burgervarieties3">
        <img src="../assets/b3.jpg" class="b1img"/>
        <a href="#" class="a"><p class="burgername">Pizza Burger</p></a>
        <h2 class="price"><i class="fa fa-inr"></i> 159.00  <del> <span style="color:rgb(185, 185, 185); font-size:25px;">199.00</span> </del> </h2>
        <a href="#" class="a"><p class="addtocart"><i class="fa fa-shopping-cart"></i> Add to cart</p></a>
    </div>
</div>